<template name="applicandsOffer">
  <ul class="collection with-header">
    <li class="collection-header">
      <a href="#" class="black-text"><h5>{{ item.job_name }}</h5></a>
    </li>
    {{ #if hasApplicands item._id }}
      {{ #each a in applicands item._id }}
        <li class="collection-item avatar">
          <a href="#" class="black-text">{{ >applicand item=a.off_userId }}</a>
        </li>
      {{ /each }}
    {{ else }}
      <li class="collection-item">No hay candidatos para esta oferta</li>
    {{ /if }}
  </ul>
</template>
