$primary-color: #424242;
$light-primary-color: #6d6d6d;
$dark-primary-color: #1b1b1b;
$secundary-color: #ff6f00;
$background-color: #eeeeee;

/*@font-face {
  font-family: fontName;
  src: url("/fonts/font.otf/ttf");
}*/

.primary-color {
  background-color: $primary-color !important;
}

.light-primary-color {
  background-color: $light-primary-color !important;
}

.dark-primary-color {
  background-color: $dark-primary-color !important;
}

.secundary-color {
  background-color: $secundary-color !important;
}

.background-app-color {
  background-color: $background-color !important;
}

.primary-color-text {
  color: $primary-color !important;
}

.light-primary-color-text {
  color: $light-primary-color !important
}

.dark-primary-color-text {
  color: $dark-primary-color !important;
}

.secundary-color-text {
  color: $secundary-color !important;
}

body {
  background-color: $background-color !important;
}

.appName {
  margin: 0px;
  padding-top: 29.4px;
  padding-bottom: 23.52px;
  background-color: $primary-color;
}

div.nav-content ul li {
  text-align: center;
  width: 25%;
}

nav .brand-logo {
  -webkit-transform: translateX(-50%) !important;
}

div.collection a i {
  vertical-align: middle;
}

div.divList {
  margin-top: 48px;

}

.contentMain {
  margin-top: 64px;
}

.content {
  margin-top: 16px;
}

th, td {
  padding: 8px 0px;
}

.input-field label {
  color: $secundary-color !important;
  -webkit-transition: -webkit-transform .2s ease-out;
  -webkit-transform: translateY(12px);
  -webkit-transform-origin: 0% 100%;
}

.input-field label:not(.label-icon).active {
  -webkit-transform: translateY(-14px) scale(.8);
  -webkit-transform-origin: 0 0;
}

.input-field input:focus + label {
  color: $secundary-color !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $secundary-color !important;
}

.input-field input:focus {
  border-bottom: 1px solid $secundary-color !important;
  box-shadow: 0 1px 0 0 $secundary-color !important;
}

.nav-wrapper .input-field input[type=search] {
  height: inherit;
  padding-left: 54px !important;
  width: calc(100% - 54px) !important;
  border: 0;
  box-shadow: none;
}

.input-field input[type=search] ~ .backButton.material-icons{
  right: 0 !important;
  left: 1rem !important;
  color: white;
  width: -webkit-max-content;
}

.input-field input[type=search]:focus ~ .backButton.material-icons{
  color: #444;
}

.chips .input{
  width: 150px !important;
}

.chips.focus {
  border-bottom: 1px solid $secundary-color !important;
  box-shadow: 0 1px 0 0 $secundary-color !important;
}

.chips .chip {
  background-color: $light-primary-color !important;
  color: white;
}

.chips .selected{
  background-color: $secundary-color !important;
}

textarea.materialize-textarea:focus{
  border-bottom: 1px solid $secundary-color !important;
  box-shadow: 0 1px 0 0 $secundary-color !important;
}

.tabs .indicator {
  background-color: $secundary-color !important;
}

ul.dropdown-content li span {
  color: $primary-color !important;
  white-space: nowrap !important;
}

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.spinner-yellow, .spinner-yellow-only {
  border-color: $secundary-color;
}

.collapsible {
  border-color: rgb(224, 224, 224);
  border-width: 1px;
  border-style: solid;
  border-top: 0px;
  box-shadow: none;
}

.collapsible-body {
  padding-top: 16px !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  margin: 0px !important;
}
