:root{
  --main-color: #00695c;
  --light-main-color: #439889;
  --dark-main-color: #003d33;
  --background-color: #f5f5f5;
}

body {
  background-color: var(--background-color);
}

div.nav-content ul li {
  text-align: center;
  width: 25%;
}

div.collection a i {
  vertical-align: middle;
}

.content {
  margin-top: 80px;
}

th, td {
  padding: 8px 0px;
}
td span.truncate {
  width: 112px !important;
}

.input-field label {
  color: var(--main-color) !important;
}

.input-field input:focus + label {
  color: var(--main-color) !important;
}

.input-field input:focus {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
}

.tabs .indicator {
  background-color: var(--main-color);
}

.dropdown-content li > span {
  color: var(--main-color) !important;
}
